label {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

input, textarea {
  display: block;
  width: 95%;
  padding: 5px;
  border: solid gray 1px;
  border-radius: 5px;
}

textarea {
  height: 250px;
}

.footnote {
  font-style: italic;
}
