.form-values {
  display: table;
}

.form-values {
  display: table;
}

.form-values div {
  display: inline-block;
  padding: 10px;
  margin-left: 20px;
}

.form-values div span {
  display: table-cell;
  padding-top: 10px;
  font-weight: bold;
  color: #006699;
}

input[type="text"] {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 1em;
}

input[type="checkbox"] {
  margin: 20px;
}

select {
  width: 100px;
}